{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Blog{% endblock %}

{% block body %}
    <div class="container mx-auto">

        <h1 class="navhead display-2">Mes articles</h1>

        <div class="row">

            <div class="col-12 col-lg-9">

                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <a href="/">
                            <img class="img-fluid mb-3 mb-md-0 imgBlog"
                                 src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                                 alt="Image de l'article ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="titleBlog">Project One</h3>
                        <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                            exercitationem
                            expedita
                            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                            perspiciatis atque eveniet unde.</p>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                        </div>
                    </div>
                </div>

            </div>


            {{ render(controller('App\\Controller\\TemplateController::categright')) }}

        </div>

    </div>
{% endblock %}
