<form class="d-grid" method="post" action="{{ path('collection_category_admin_delete', {'id': collection_category.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection_category.id) }}">
    <button class="btn btn-outline-danger my-3">Supprimer</button>
</form>
