{% extends '../../../base.html.twig' %}

{% block title %}Edit CollectionEdition{% endblock %}

{% block body %}
    <h1>Edit CollectionEdition</h1>

    {{ include('collection_edition_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collection_edition_admin_index') }}">back to list</a>

    {{ include('collection_edition_admin/_delete_form.html.twig') }}
{% endblock %}
