<form class="d-grid" method="post" action="{{ path('social_admin_delete', {'id': social.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce réseau social ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social.id) }}">
    <button class="btn btn-outline-danger my-3">Supprimer</button>
</form>
