{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-grid my-3">
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
