{% extends 'base.html.twig' %}

{% block title %}Edit Social{% endblock %}

{% block body %}
    <h1>Edit Social</h1>

    {{ include('social_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('social_admin_index') }}">back to list</a>

    {{ include('social_admin/_delete_form.html.twig') }}
{% endblock %}
