{% extends 'base.html.twig' %}

{% block title %}Hello TestapiController!{% endblock %}

{% block body %}
    <div class="container">
        {% for categ in categs %}
            <div class="display-1">{{ categ.name }}</div>
        {% endfor %}
    </div>

{% endblock %}
