{% extends 'base.html.twig' %}

{% block title %}Hello TestapiController!{% endblock %}

{% block body %}
    <div class="container">
        {% for categ in categs %}
            <p>{{ categ.title }}</p>
        {% endfor %}
    </div>

{% endblock %}
