<form class="d-grid" method="post" action="{{ path('realisation_admin_delete', {'id': realisation.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet réalisation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
    <button class="btn btn-outline-danger my-3">Supprimer</button>
</form>
