<form method="post" action="{{ path('collection_subcategory_admin_delete', {'id': collection_subcategory.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection_subcategory.id) }}">
    <button class="btn">Delete</button>
</form>
