{% extends '../../../base.html.twig' %}

{% block title %}Edit CollectionSubcategory{% endblock %}

{% block body %}
    <h1>Edit CollectionSubcategory</h1>

    {{ include('collection_subcategory_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collection_subcategory_admin_index') }}">back to list</a>

    {{ include('collection_subcategory_admin/_delete_form.html.twig') }}
{% endblock %}
