<form class="d-grid" method="post" action="{{ path('collection_family_admin_delete', {'id': collection_family.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet famille de produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection_family.id) }}">
    <button class="btn btn-outline-danger my-3">Supprimer</button>
</form>
