<form class="d-grid" method="post" action="{{ path('article_admin_delete', {'id': article.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-outline-danger my-3">Supprimer</button>
</form>
