{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Nouvelle Article Blog{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="navhead display-2 text-center">Nouvelle Article Blog</h1>

        <div class="card">
            <div class="card-body shadow-lg">

                {{ include('admin/blog/article_admin/_form.html.twig') }}

                <div class="d-grid">
                    <a href="{{ path('article_admin_index') }}" class="btn btn-outline-primary">Retour a la
                        liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}