{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Erreur 403{% endblock %}

{% block body %}
<div class="container mx-auto">

    <h1 class="navhead display-1 text-center" style="font-size: 70px">PAGE NON TROUVÉE</h1>

    <div class="row">
        <div class="col-12 col-lg-9">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
        </div>
        {{ render(controller('App\\Controller\\TemplateController::categright')) }}

    </div>

    {% endblock %}
