{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Moi{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="navhead display-2">A PROPOS DE MOI</h1>

        <div class="row">
            <div class="col-12 col-lg-9">

                <section class="font-monospace mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quisquam ut perspiciatis, repudiandae
                    nulla animi iste vel, praesentium repellendus molestias aliquid consequatur, earum rem qui error
                    voluptates eius enim consequuntur!
                </section>

                <section class="font-monospace mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex alias, earum consectetur quia natus
                    ducimus
                    voluptate explicabo, hic porro reprehenderit, quasi? Tenetur ipsum distinctio laboriosam
                    perspiciatis
                    officiis dolore, architecto id.
                </section>

                <section class="font-monospace mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam inventore aspernatur repellendus
                    incidunt adipisci modi voluptates recusandae iste eligendi, repudiandae corporis quod aut, optio!
                    Explicabo quaerat unde voluptatem! Itaque, eum!
                </section>
            </div>

            <div class="col-12 col-lg-3 mt-3">

                {% if socials is not empty %}
                    <div class="shadow-lg">
                        <ul class="list-group list-group-flush">
                            <dt class="list-group-item text-center foottxt">Me suivre</dt>
                            <li class="list-group-item d-flex my-2 justify-content-between align-items-center">
                                {% for social in socials %}
                                    <a href="{{ social.link }}" target="_blank" class="text-decoration-none">
                                        <i class="{{ social.logo }} fa-2xl"></i>
                                    </a>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

