{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <img class="picsme img-fluid" src="{{ asset('assets/picture/Link02.jpg') }}" alt="photo de moi">
            <span class="position-absolute badgeTof badge rounded-pill">Photo non <br>contractuelle</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="mx-auto text-center">
                <h1 class="display-2">Bienvenue je suis</h1>
                <h1 class="display-1">David</h1>
                <h1 class="display-2">Full stack Developper</h1>
                {% for dispo in dispos %}
                    {% if dispo.available == true %}
                        <h1 class="display-1 neonVert">Actuellement disponible</h1>
                        <div class="mt-3 display-2">
                            <a href="{{ path('contact') }}" class="mt-3 text-decoration-none linkCont">Me contacter</a>
                        </div>
                    {% else %}
                        <h1 class="display-1 neonRouge">Actuellement indisponible</h1>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    {% if articles is not empty %}
        <div class="container my-5" style="max-width: 1000px">
            <h1 class="navhead display-2">Derniers articles</h1>

            {{ include('site/blog/article_liste.html.twig') }}

        </div>
    {% endif %}
{% endblock %}
