{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid picsme" src="{{ asset('assets/picture/moi.jpg') }}" alt="photo de moi">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="mx-auto text-center">
                <h1 class="display-2">Bienvenue je suis</h1>
                <h1 class="display-1">David</h1>
                <h1 class="display-2">Full stack Developper</h1>
                {% for dispo in dispos %}
                    {% if dispo.available == true %}
                        <h1 class="display-1 neonVert">Actuellement disponible</h1>
                    {% else %}
                        <h1 class="display-1 neonRouge">Actuellement indisponible</h1>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h1 class="navhead display-2">Derniers articles</h1>

        <div class="row mx-auto mt-3">
            <div class="col-md-5">
                <a href="/">
                    <img class="img-fluid mb-3 mb-md-0 imgBlog"
                         src="https://i.jeuxactus.com/datas/jeux/t/h/the-legend-of-zelda-breath-of-the-wild/xl/the-legend-of-zelda-bre-58787242dd5bf.jpg"
                         alt="Image de l'article ">
                </a>
            </div>
            <div class="col-md-7">
                <h3 class="titleBlog">Project One</h3>
                <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam
                    exercitationem
                    expedita
                    laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                    perspiciatis atque eveniet unde.</p>
                <div class="d-grid">
                    <a class="btn btn-outline-primary" href="#">Lire l'article</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
