<form class="d-grid" method="post" action="{{ path('about_admin_delete', {'id': about.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet presentation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ about.id) }}">
    <button class="btn btn-outline-danger my-3">Supprimer</button>
</form>
